/**
 * Custom Properties
 * aka CSS variables.
 *
 * @link: https://developer.mozilla.org/en-US/docs/Web/CSS/--*
 **/

:root {
	--content-width: 45rem;
	--dropdownSymbolWidth: 0.7em;
	--borderRadius: 4px;
	--boxShadowPopup:
		0 16px 24px rgba(0, 0, 0, 0.14),
		0 6px 30px rgba(0, 0, 0, 0.12),
		0 8px 10px rgba(0, 0, 0, 0.2);

	/* Typography */
	--fontFamily: "Roboto", "Helvetica Neue", "Arial Narrow", sans-serif;

	/* weights */
	--fontWeightLight: 300;
	--fontWeightNormal: 400;
	--fontWeightBold: 500;

	/* titles */
	--titleFontSize: 34px;
	--titleLineHeight: 1.2;
	--titleLetterSpacing: 0.2px;
	--titleWeight: 400;

	/* body */
	--bodyFontSize: 19px;
	--bodyLineHeight: 1.6;
	--bodyLetterSpacing: 0.5px;
	--bodyWeight: 300;

	/* caption */
	--captionLetterSpacing: 1px;
	--captionWeight: 500;
	--captionFontSize: 20px;

	/* Custom editor font sizes */
	--fontSizeSmall: calc(16 / 18 * 1rem);
	--fontSizeRegular: calc(18 / 16 * 1rem);
	--fontSizeLarge: calc(36 / 18 * 1rem);
	--fontSizeLarger: calc(48 / 18 * 1rem);

	/* Colors */
	--bodyFontColor: #fff;
	--titleColor: #fff;
	--accentColor: #ed8100;

	--border-color-dark: #333;
	--border-color-light: #ccc;
	--color-link: #0073aa;
	--color-link-nav: #fff;
	--color-link-visited: #333;
	--color-link-active: #00a0d2;
	--color-quote-border: #000;
	--color-quote-citation: #6c7781;

	/* Custom editor colors */
	--color-theme-primary: #002542;
	--color-theme-secondary: #00a5cc;
	--color-theme-magenta: #db1f8f;
	--color-theme-purple: #871fff;
	--color-theme-green: #00ccc2;
	--color-theme-blue: #00589d;
	--color-theme-orange: #ed8100;
	--color-theme-yellow: #f1c40f;
	--color-theme-black: #000;
	--color-theme-grey: #95a5a6;
	--color-theme-white: #ecf0f1;
	--color-custom-daylight: #97c0b7;
	--color-custom-sun: #eee9d1;
}
