@import "_modal.css";

/**
 * Custom styles for the front-page.php template.
 */

/* @import "_modal.css"; */

small {
	color: var(--color-theme-white);
}

@media screen and (--wide-menu-query) {

	.grid__full {
		grid-template-columns: auto;
	}

	.grid__half {
		grid-template-columns: 1fr 1fr;
		gap: 2em;
	}
}

.wonder-section {
	background-repeat: no-repeat;

	& .grid {
		display: grid;
	}

	& .wrap {
		padding-right: 1.25rem;
		padding-left: 1.25rem;
		max-width: 1200px;
		margin: 0 auto;
		align-items: center;

		@media (--content-query) {
			padding-right: 1em;
			padding-left: 1em;
		}

		&.narrow {

			@media (--sidebar-query) {
				max-width: 936px;
			}
		}

		&.wide {

			@media (--sidebar-query) {
				max-width: 1440px;
			}
		}
	}

	& figcaption {
		padding: 1em 1em 0 1em;
		opacity: 0;
		transition: opacity 0.2s linear;
	}

	& figure {

		&:hover {

			& figcaption {
				opacity: 1;
			}
		}
	}

	& .grid__half {

		@media (--sidebar-query) {
			grid-gap: 1em;
		}
	}

	& .grid__half-flip {

		@media (--sidebar-query) {
			grid-template-columns: 1fr 1fr;
			gap: 1em;
		}
	}

	& .grid__third {

		@media (--sidebar-query) {
			grid-template-columns: 2fr 1fr;
			gap: 4em;
		}
	}

	& .grid__third-flip {

		@media (--sidebar-query) {
			grid-template-columns: 1fr 2fr;
			gap: 4em;
		}
	}

	& .col {
		margin-top: 1.25rem;
		margin-bottom: 1.25rem;

		@media (--content-query) {
			padding-top: 1.875rem;
			padding-bottom: 1.875rem;

			& .img-wrap {
				margin-bottom: 0;
			}
		}

		&.caption {
			border-radius: var(--borderRadius);

			@media (--sidebar-query) {
				padding: 9%;
			}
		}
	}

	& .flip {

		@media (--content-query) {
			order: 2;
		}
	}
}

.img-wrap {
	filter: drop-shadow(2px 4px 6px #000);
	margin: 0;

	& img {
		display: block;
		height: auto;
		max-width: 100%;
	}
}

.banner__feat {
	position: relative;
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: cover;
	overflow: hidden;
}

.banner__feat-img_wrap {
	display: flex;
	align-items: center;
}

.banner__feat-img {
	min-width: 100%;
}

.mdl-cell--center {
	justify-content: center;
}

.mdl-layout__header {

	@media (--sidebar-query) {
		position: absolute;
	}
}

.mdl-header {
	padding: 0;

	@media (--content-query) {
		flex-flow: column wrap;
	}

	@media (--sidebar-query) {
		flex-flow: row nowrap;
		min-height: 85vh;
	}
}

.mdl-title,
.mdl-form {
	width: 100%;

	@media (--sidebar-query) {
		display: flex;
		flex: 0 0 50%;
		align-items: center;
		flex-direction: column;
		justify-content: center;
	}
}

.mdl-title {
	display: flex;
	margin: 0;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	box-shadow: var(--boxShadowPopup);
	min-height: 70vh;
	padding: 1em;
	flex-flow: column wrap;
	justify-content: center;

	@media (--content-query) {
		align-items: center;
	}

	@media (--sidebar-query) {
		align-items: start;
	}
}

.mdl-form {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	margin-top: 2em;

	@media (--content-query) {
		flex-flow: row wrap;
		align-items: start;
		justify-content: space-around;
		margin-top: 3em;
	}

	@media (--sidebar-query) {
		margin-top: 0;
		flex-flow: column nowrap;
		align-items: center;
		justify-content: center;
	}
}

.svg-img {

	/* @media (--content-query) {
		width: 265px;
		margin: 0 auto;
		align-self: normal;
		max-width: 265px;
		display: flex;
		flex-direction: column;
		align-items: center;
	} */
	& .icon {
		width: 150px;
		margin: 0 auto;
		padding-bottom: 2em;
	}
}

.overlap {

	@media (--sidebar-query) {
		width: 140%;
	}
}

.caption {

	@media (--sidebar-query) {
		padding: 2em;
	}
}

.flip .overlap {

	@media (--sidebar-query) {
		transform: translateX(-30%);
	}
}

.mdl-button--raised.mdl-button--colored {
	background: var(--color-theme-secondary);

	&:hover {
		background: var(--color-theme-blue-light);
	}
}
