@import "_modal.css";

/**
 * Custom styles for the front-page.php template.
 */

small {
	color: var(--color-theme-white);
}

.wonder-section {
	background-repeat: no-repeat;

	&.narrow {

		@media (--sidebar-query) {
			max-width: 936px;
		}
	}

	&.wide {

		@media (--sidebar-query) {
			max-width: 1440px;
		}
	}

	& figcaption {
		padding: 1.5em;
		box-shadow: var(--boxShadowDeep);
		border-radius: var(--borderRadius);
		z-index: 1;

		@media (--content-query) {
			padding: 2.5em;
		}
	}
}

.section-wrap {

	@media (--content-query) {
		max-width: 1200px;
		align-items: center;
	}
}

img {
	display: block;
	height: auto;
	max-width: 100%;
}

.banner__feat {
	position: relative;
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: cover;
	overflow: hidden;
}

.banner__feat-img_wrap {
	display: flex;
	align-items: center;
}

.banner__feat-img {
	min-width: 100%;
}

.mdl-cell--center {
	justify-content: center;
}

.mdl-layout__header {

	@media (--sidebar-query) {
		position: absolute;
	}
}

.mdl-header {
	min-width: 100vw;
	min-height: 100vh;
	padding: 0;
	align-items: center;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	& .wp-post-image {
		margin: 0;
	}
}

.mdl-title {
	display: flex;
	padding: 0 1em;
	flex-flow: column wrap;

	@media (--content-query) {
		align-items: center;
		padding: 3em;
	}
}

/*
.overlap {

	@media (--content-query) {
		transform: translateY(15vh);
	}

	@media (--sidebar-query) {
		width: 140%;
	}
}

.flip .overlap {

	@media (--content-query) {
		transform: translateY(-15vh);
	}

	@media (--sidebar-query) {
		transform: translateX(-30%);
	}
}
*/
.mdl-cell__caption {

	@media (--sidebar-query) {
		padding: 2em;
	}
}

.wrap.wrap__top {
	align-items: flex-start;
}

.flip {

	& .mdl-cell__img {
		order: 2;
	}
}

.overlap {
	position: relative;

	& .mdl-cell__img {
		margin: 0;

		@media (--mobile-query) {
			width: 100vw;
		}
	}

	& .img-wrap {

		@media (--sidebar-query) {
			width: 120%;
		}
	}

	&:not(.flip) {

		& .mdl-cell__img {

			@media (--mobile-query) {
				transform: translateY(7vh);
			}
		}
	}

	&.flip {

		& .mdl-cell__img {

			@media (--mobile-query) {
				transform: translateY(-7vh);
			}
		}

		& .img-wrap {

			@media (--sidebar-query) {
				transform: translateX(-9vw);
			}
		}
	}
}
