.txt-img {

	& .img-fill {
		margin-bottom: 0;
	}
}

.caption .copy__title {
	margin-top: 0;
}

.section__height-medium {
	min-height: 55vh;
	align-content: center;
}

.section__height-viewport {
	min-height: 100vh;
	align-content: center;
}
