.txt-quote {
	background-size: 155%;
	background-repeat: no-repeat;
	transition: ;

	@media (--content-query) {
		background-size: 100% cover;
		padding-top: 7em;
		padding-bottom: 7em;
	}
}

/* author quote codepen START */

/* https://codepen.io/khadkamhn/pen/eNKKwN?editors=1100 */
.author-quote {
	color: var(--color-theme-white);
	padding: 0;

	&:hover {

		& .author-photo::before {
			background-color: transparent;
			transition: background-color 1s linear;
		}
	}
}

.author-quote-wrap .toggle-quote {
	display: none;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.clearfix::after,
.clearfix::before {
	content: "";
	display: table;
}

.clearfix::after {
	clear: both;
	display: block;
}

/* .author-quote-wrap .author-quote,
.author-quote-wrap .author-photo::before {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
} */

.author-quote-wrap {
	color: #fff;
	overflow: hidden;
	background: rgba(var(--color-theme-secondary), 1);
	border-radius: var(--borderRadius);
	position: relative;
	box-shadow: var(--boxShadowDeep);
}

.author-quote-wrap .author-photo::before {
	content: "";
	background: rgba(var(--color-theme-secondary), 1);
	transition: background-color 1s linear;
}

.author-quote-wrap .author-photo::after {
	top: 15px;
	left: 60px;
	font-size: 72px;
	line-height: 72px;
	position: absolute;
	font-family: serif;
	content: open-quote;
}

.author-quote-wrap .author-photo::before {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
}

/*
.author-quote-wrap .author-quote {
	display: none;
}

.author-quote-wrap .toggle-quote {
	display: none;
}

.author-quote-wrap .toggle-quote:checked + .author-quote {
	display: block;
} */

.author-quote-wrap .author-quote a {
	color: inherit;
	text-decoration: none;
}

/* .author-quote-wrap .author-photo,
.author-quote-wrap .quote-content {
	height: 100%;
	position: relative;
} */

.author-quote-wrap .author-photo {
	position: absolute;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	quotes: "\201C""\201D""\2018""\2019";

	@media (--narrow-menu-query) {
		width: 100%;
		height: 100%;
		z-index: -1;
	}

	@media (--content-query) {
		position: relative;
	}
}

.author-quote-wrap .author-photo::before {
	content: "";
	background-color: rgba(var(--color-theme-secondary), 0.75);

	@media (--content-query) {
		background: rgba(var(--color-theme-secondary), 0.5);
	}
}

.author-quote-wrap .author-photo::after {
	top: 15px;
	left: 15px;
	font-size: 72px;
	line-height: 72px;
	position: absolute;
	font-family: serif;
	content: open-quote;

	@media (--content-query) {
		left: 60px;
	}
}

.author-quote-wrap .author-photo .navigate {
	left: 15px;
	z-index: 10;
	right: 15px;
	bottom: 15px;
	position: absolute;
	text-align: center;
}

.author-quote-wrap .author-photo .navigate .label {
	width: 15px;
	height: 30px;
	cursor: pointer;
	position: relative;
	display: inline-block;
}

.author-quote-wrap .author-photo .navigate .label.left {
	left: -30px;
}

.author-quote-wrap .author-photo .navigate .label.right {
	right: -30px;
}

.author-quote-wrap .author-photo .navigate .label.disabled {
	cursor: not-allowed;
}

.author-quote-wrap .author-photo .navigate .label::before,
.author-quote-wrap .author-photo .navigate .label::after {
	content: "";
	height: 2px;
	width: 15px;
	background: #ccc;
	position: absolute;
}

.author-quote-wrap .author-photo .navigate .label::before {
	top: 62%;
}

.author-quote-wrap .author-photo .navigate .label::after {
	bottom: 62%;
}

.author-quote-wrap .author-photo .navigate .label.left::before,
.author-quote-wrap .author-photo .navigate .label.right::after {
	transform: rotate(45deg);
}

.author-quote-wrap .author-photo .navigate .label.right::before,
.author-quote-wrap .author-photo .navigate .label.left::after {
	transform: rotate(-45deg);
}

.author-quote-wrap .author-photo .navigate .label.left::before,
.author-quote-wrap .author-photo .navigate .label.left::after {
	left: 0;
}

.author-quote-wrap .author-photo .navigate .label.right::before,
.author-quote-wrap .author-photo .navigate .label.right::after {
	right: 0;
}

.author-quote-wrap .author-photo .navigate .label.disabled::before,
.author-quote-wrap .author-photo .navigate .label.disabled::after,
.author-quote-wrap .author-photo .navigate .label.disabled:hover::before,
.author-quote-wrap .author-photo .navigate .label.disabled:hover::after {
	background: #bbb;
}

.author-quote-wrap .author-photo .navigate .label:hover::before,
.author-quote-wrap .author-photo .navigate .label:hover::after {
	background: #fff;
}

.author-quote-wrap .quote-content {
	padding: 4em 1em;

	@media (--content-query) {
		padding: 2em 1em;
	}
}

.quote-content .quote-like {
	font-size: 12px;
	font-weight: 400;
	padding: 4px 8px;
	border-radius: 15px;
	display: inline-block;
	background: rgba(0, 0, 0, 0.2);
}

.quote-content .quote-like .love {
	width: 18px;
	height: 10px;
	position: relative;
	display: inline-block;
}

.quote-content .quote-like .love::before,
.quote-content .quote-like .love::after {
	top: 0;
	left: 7px;
	content: "";
	width: 7px;
	height: 12px;
	background: #fff;
	position: absolute;
	transform: rotate(-45deg);
	transform-origin: 0 100%;
	border-radius: 20px 20px 0 0;
}

.quote-content .quote-like .love::after {
	left: 0;
	transform: rotate(45deg);
	transform-origin: 100% 100%;
}

.quote-content .quote-text,
.quote-content .quote-author {
	text-transform: uppercase;
}

.quote-content .quote-text {
	font-size: 40px;
	font-weight: 900;
	line-height: 50px;
	padding-bottom: 1em;

	@media (--content-query) {
		font-size: 48px;
		line-height: 55px;
	}
}

.quote-content .quote-author {
	bottom: 15px;
	font-size: 14px;
	font-weight: 500;
}

.quote-content .quote-author::before {
	content: "- ";
}
